.containerCard {
  margin: 3% auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.menu-promocoesCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.conteudoCard {
  max-width: 850px; 
  height: 130px;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
}

.content-oneCard {
  margin-left: 50px;
}

.content-twoCard {
  margin-top: 10px;
  margin-left: 50px;

}

.imageCard {
  margin-top: 10px;
}


.headingCard {
  margin-bottom: 10px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline 2px;
  text-decoration-color: #1d1fa5;
}

h4 {
  color: #1d1fa5;
}

.box-containerCard {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.boxCard {
  padding: 2rem; /* ajusta padding para telas menores */
  text-align: center;
  border-radius: 30px;
}

.boxCard h4 {
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem;
}

.precoCard {

  color: #fff;
  font-size: 1.2rem;
  padding: .5rem.0;
}

.precoCard span {

  font-size: .9rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.boxCard:hover {
  background-color: #fff;
}

.boxCard:hover>* {
  color: black;
}

.boxCard {
  border: solid black 2px;
}

.btnCard {
  padding: 10px 20px;
  font-size: 14pt;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.clicCard {
  background-color: rgb(86, 131, 170);
  box-shadow: 20px 20px 10px #ccc;
  border-radius: 20px;
  transition: all .4s ease-in-out;
}

.btnCard:hover {
  background-color: rgb(8, 156, 201);
  color: #1d1fa5;
  padding: 10px 20px;
  transform: scale(1.1);
}

a {
  text-decoration: none !important;
}

@media (max-width:768px) {

  .containerCard {

    flex-direction: column;
  }

  .menu-promocoesCard > * {
    flex-basis: 45%;
  }

  .headingCard {
    margin-top: 15px; 
    font-size: 18px; 
  }

  .box-containerCard {
    display: block;

  }

  .boxCard {
    padding: 1.5rem;
  }

  .box-containerCard {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .boxCard {
    margin-top: 10px;
  }
  

}