
header {
  height: 20vh;
  background-color: #089cc9;
  display: flex;
  flex-direction: column;
}


.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header img {
  height: 20vh;
  width: 20vh;
}

.nav-area {
  display: flex;
  align-items: center;
  position: relative;
  right: 10%;
}

.nav-area a {
  font-size: 15px;
  text-transform: uppercase;
}

.menu {
  position: relative;
  right: 20vh;
}

.nav-area:after {
  content: '';
  clear: both;
  display: block;
}

.nav-area ul {
  list-style: none;
  margin: 0;
}

.nav-area>ul>li {
  float: left;
  position: relative;
}

.nav-area ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-area ul li a:hover{
  color: black;
}

.nav-area ul li:hover a {
  background: rgb(6, 102, 131);
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all.5s, background, 1s.5s linear;
  transition: all.5s, background 1s.5s linear;
}

.nav-area ul ul {
  position: absolute;
  padding: 0;
  min-width: 160px;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s, max-height 0.5s;
}

.nav-area ul li:hover>ul {
  opacity: 1;
  max-height: 300px;
}

.nav-area ul ul li:hover a {
  background: #262626;
}

.nav-area ul ul li {
  position: relative;
}

.nav-area ul ul ul {
  top: 0;
  left: 100%;
}

.nav-area ul ul ul li:hover a {
  background: #34495e;
}

.nav-area {
  padding: 20px;
  text-align: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu li {
  position: relative;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 2vh;
  justify-content: center;
  margin-right: 6vh;
}

.socialContainer {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration:.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration:.3s;
}

.socialSvg {
  width: 40px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {

  header{
      height: 60vh;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header img {
    margin-bottom: 1rem;
  }
  
  .nav-area {
    display: flex;
    align-items: center;
    position: relative;
    right: 0%;
  }

  .menu {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .menu li {
    text-align: center;
  }

  .nav-area ul li a {
    padding: 10px 20px;
  }

  .nav-area ul ul {
    position: static;
    width: 100%;
    box-shadow: none;
  }

  .nav-area ul li:hover>ul {
    display: none;
  }

  .nav-area ul ul li {
    text-align: left;
  }

  .nav-area ul ul li a {
    padding: 10px;
    background-color: white;
  }

  .nav-area ul ul ul li {
    position: static;
  }
  .card {
      margin-top: 5vh;
  }

  .cardHeader {
    display: none;
  }
  
}

@media (max-width: 480px) {
  header{
      height: 80vh;
  }
  .header img {
    width: 40vh;
    height: 40vh;
  }

  .searchbar {
    max-width: 80%;
  }

  .icon{
      margin-left: 2vh;
  }

  .menu {
    flex-direction: column;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .nav-area ul li a {
    padding: 5px 10px;
  }

  .nav-area ul ul {
    padding: 10px;
  }

  .nav-area ul ul li a {
    padding: 5px;
  }

  .card {
      margin-top: 10vh;
  }
}