.cardUnico {
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-color: white;
  margin: 60px;
  border: 2px solid rgb(58, 190, 249);
}

.card__skeleton {
  background-color: rgb(255, 255, 255);
  border-radius: inherit;
  padding-bottom: 5px;
}

.card__skeleton img {
  height: 348px;
}

.card__skeleton h1 {
  font-family: sans-serif;
  text-align: initial;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
}

.card__skeleton ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 08px;
}

.Info-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Info-produto h1 {
  margin: 0;
}

.valor {
  color: red;
  font-size: 20px;
}

.name {
  color: rgb(0, 141, 218);
  font-size: 15px;
  margin-bottom: 50px;
}

.card__description {
  height: 10px;
  width: 100%;
  background-color: rgb(238, 238, 238);
  border-radius: inherit;
  margin-top: 5px;
}

/* Media queries para responsividade */

/* Tablet */
@media (max-width: 768px) {
  .cardUnico {
      margin: 30px;
  }
}

/* Smartphone */
@media (max-width: 480px) {
  .cardUnico {
      margin: 20px;
  }
}